*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
#center{
    margin-left: 400px;
    width: 560px;
    height: 560px;
}
#anh1{
    width: 100px;
    height: 40px;
}
#anh2{
    height: 322px;
    width: 560;
}
#top{
    width: 100%;
    height: 50px;
}
.anhnho{
    margin-right: 10px;
    float: left;
    height:  125px;
    width: 180px;
}